* {
  border-color: transparent;
  border-radius: 2px;
}

.main {
  background-color: #12343b;
  border-radius: 10px;
  box-shadow: 10px 10px 30px grey;
  max-width: 500PX;
  border: 2px solid transparent;
  min-height: 500px;
  margin: 0 auto;
}

body {
  background-color: #F1AF71;
}

.App {
  text-align: center;
  justify-content: center;
}

.title {
  color: white;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.btn {
  width: 8%;
  height: 40px;
  background-color: #F1AF71;
  border-color: transparent;
  border-radius: 2px;


}


.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}



button {
  margin: 5px;
}

input {
  background-color: black;
  color: white;
  border-radius: 5px;
}



.task {
  font-size: 12px;
  width: 340px;
  height: 50px;
  border-color: white !important;
  border-radius: 5px !important;
  border: 1px solid white;
  text-align: left;
  margin-top: 20px;
  margin-left: 16%;
  background-color: #12343b;
  color: white;
  border-color: transparent;
  border-radius: 2px;
  padding-left: 20px;
}


/* part 2 */

.delete-btn {
  position: absolute;
  margin-left: 260px;
  margin-top: -50px;
  color: lightseagreen;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
  background-color: #12343b;
}

/* part 3 */

.edit-btn {
  color: #e2d029;
  position: absolute;
  margin-left: 300px;
  margin-top: -50px;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
  background-color: #12343b;
}